.body-background{
  /*background-color: #333330;*/
  background-color: #bfbfbb;
  /*color: #bfbfbb;*/
  color: #555550;
}

.userlogin {
  padding: 15px;
  text-align: right;
}

.navbar {
  background: black;
}