<h1>Hello World</h1>
  
<form ng-submit="addPost()" name="postForm">
    <!-- You can now refer to @scope.newPrice in your PostCtrl -->
  <input type="text" placeholder="Add a new post" ng-model="newPost">
</form>

<table class='table table-bordered table-condensed'>
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Author Email</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in lists">
      <td><a ng-href="#{{item.link}}">{{ item.title }}</a></td>
      <td ng-if="item.url != ''">{{ item.url }}</td>
      <td ng-if="item.url == ''">No URL</td>
      <td>{{ item.author_email }}</td>
    </tr>
  </tbody>
</table>
